*{
    margin:0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: "newspaper";
}

h1{

font-weight: 800;
font-style: ExtraBold;
font-size: 48px;
line-height: 60px;
letter-spacing: -1.58px;
color: #FFFFFF;

}

.titre2{

font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.8px;
color: #0D1C12;
 
}


.titre3{

font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;

}

/* ↑↑↑ ça c tout les styles que g pu mettre à tout / toute une catégorie, class etc. ensuite on passe au placement + style du header↓↓↓ */

header{
    max-width: 960px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 30px;
}

#hr1d1{

    display: flex;
    gap: 15px;
}

#hr1t1 a{

    text-decoration: none;
}

#login{

font-family: Newsreader;
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.21px;
color: #0D1C12;
padding: 16px;
border-radius: 20px;
background-color: #E8F2ED;
border-width: 0px;
text-decoration: none;
padding: 11px;
width: 84px;
text-align: center;
width: 84px;
max-block-size: fit-content;
padding: 10px 2px;
}

header button{
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}

/* le text trim both jsp cque c mais c le seul truc qui me centre le texte ds le bouton */

#divsearch{

font-family: Newsreader;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
color: #4F966E;

border-radius: 20px;
background-color: #E8F2ED;
border-width: 0px;

width: 260px;
height: 40px;
align-content: space-evenly;
padding-left: 9px;

}
/* ↑ dsl pr le padding left mais j'arrive pas à décoller cette ptn de loupe!!!!!!! */


header input{

background-color: rgba(0, 0, 0, 0);
border-color: rgba(0, 0, 0, 0);
color: #4F966E;
}

#hr1t1{

    padding: 6px;

}


/* footer ↓↓↓ */

footer a{
text-decoration: none;

font-weight: 400;
font-size: 16px;

line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #4F966E;


}

#ft1d1{
display: flex;
justify-content: space-evenly;

}

footer p{

font-weight: 400;
font-size: 16px;

line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #4F966E;

}

footer{
width: 960px;
height: 152px;
white-space-collapse: preserve-breaks;
justify-self: anchor-center;

}

#s1{
    background-image: url(../img/af72556ef0db51a0818c6b7dd441127632dc705e.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 960px;
    height: 512px;
    justify-self: center;
    border-radius: 12px;
}


#s1 p{

font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
color: white;
margin: 15px;
justify-self: center;

}


#s1d1{
padding: 40px;
padding-top: 250px;
}

#s1 a{

padding: 10px;
padding-right: 20px;
padding-left: 20px;
border-radius: 24px;
background-color: #1AE570;
color: black;
text-decoration: none;
font-weight: 700;
display: block;
width: fit-content;
margin: 15px;
margin-top: 40px;

}

#s1 a:hover {
mix-blend-mode: overlay;

}



/*↑↑↑ bon g pas trouvé comment bien le placer sans utiliser du gros padding mais bon tant pis on start la section 2↓↓↓ */


#s2{

    width: 960px;
    justify-self: center;
    margin-bottom: 70px;
}

#s2 h2{

font-weight: 700;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.8px;
padding: 30px 10px;

}


.s2a1 {

    display: flex;
    margin: 30px auto;
}



#s2 img {

    width: 455.859375px;
    height: 256.40625px;
     border-radius: 12px;
    object-fit: none;
}

#s2 h3{

font-weight: 700;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
padding: 10px 0;

}

#s2 p{


font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
color: #4F966E;

}

.s2d1{

    padding: 10px;
}

#s2 a{

padding: 10px;
padding-right: 20px;
padding-left: 20px;
border-radius: 24px;
background-color: #1AE570;
color: black;
text-decoration: none;
font-weight: 700;
display: block;
margin: 15px;
height: fit-content;
min-width: max-content;
place-self: flex-end;

}

#s2 a:hover {
background-color: #0D1C12;
color: #1AE570;

}


/* responsive↓↓↓ */

@media screen and (max-width :1024px) {


footer{

    width: 100%;
}

#s1{

    width: 100%;

}





.s2a1{

    display: grid;
    grid-template-columns: 1fr;
}

#s2{

    width: 100%;
    margin: 15px;
}

#s2 a{

place-self: center;

}

.s2i1{

justify-self: center;

}



}


@media screen and (max-width :748px) {
    
    #s1d1{
    
    padding: 15px;
    }

#s2 img{

    width: 100%;
}

header {
    width: 100%;
    display: grid;
    
}

#hr1d1{

    display: grid;
    gap: 15px;
}
}
