*{
    margin:0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: "newspaper";
}

h1{

font-weight: 800;
font-style: ExtraBold;
font-size: 48px;
line-height: 60px;
letter-spacing: -1.58px;
color: #FFFFFF;

}

.titre2{

font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.8px;
color: #0D1C12;
 
}


.titre3{

font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;

}

/* ↑↑↑ ça c tout les styles que g pu mettre à tout / toute une catégorie, class etc. ensuite on passe au placement + style du header↓↓↓ */

header{

    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 30px;
}

#hr1d1{

    display: flex;
    gap: 15px;
}

header button{

font-family: Newsreader;
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.21px;
color: #0D1C12;
padding: 16px;
border-radius: 20px;
background-color: #E8F2ED;
border-width: 0px;

width: 84px;
height: 40px;
text-box-trim: trim-both;

}

/* le text trim both jsp cque c mais c le seul truc qui me centre le texte ds le bouton */

#divsearch{

font-family: Newsreader;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
color: #4F966E;

border-radius: 20px;
background-color: #E8F2ED;
border-width: 0px;

width: 260px;
height: 40px;
align-content: space-evenly;
padding-left: 9px;

}
/* ↑ dsl pr le padding left mais j'arrive pas à décoller cette ptn de loupe!!!!!!! */


header input{

background-color: rgba(0, 0, 0, 0);
border-color: rgba(0, 0, 0, 0);
color: #4F966E;
}

#hr1t1{

    padding: 6px;

}