*{
    margin:0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: "newspaper";
}


input{
    outline:none;
}

h1{

font-weight: 800;
font-style: ExtraBold;
font-size: 48px;
line-height: 60px;
letter-spacing: -1.58px;
color: #FFFFFF;

}

.titre2{

font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.8px;
color: #0D1C12;
 
}


.titre3{

font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;

}

header{
    max-width: 1440px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 30px;

}

header{

        border-bottom: solid;
    border-width: 1px;
    border-color: #0000002d;
}



#hr1t1 a{

    text-decoration: none;
}

#signup{

font-family: Newsreader;
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.21px;
color: #0D1C12;
padding: 16px;
border-radius: 20px;
background-color: #1AE570;
border-width: 0px;
text-decoration: none;
padding: 11px;
width: 84px;
text-align: center;
width: 84px;
max-block-size: fit-content;
padding: 10px 2px;
}


header input{

background-color: rgba(0, 0, 0, 0);
border-color: rgba(0, 0, 0, 0);
color: #4F966E;
}

#hr1t1{

    padding: 6px;

}


/* footer ↓↓↓ */



#ft1d1 a{
text-decoration: none;

font-weight: 400;
font-size: 16px;

line-height: 24px;
letter-spacing: 0px;

color: #4F966E;

}

#ft1d2 a{
text-decoration: none;

font-weight: 400;
font-size: 16px;

line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #4F966E;

}

#ft1d1{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 600px;
   
}

#ft1d2{
display: flex;
    margin: auto;
    justify-content: center;
    gap: 15px;
}

#ft1d3{

    margin: auto;
    display: grid;
}

footer p{

font-weight: 400;
font-size: 16px;

line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #4F966E;

}

footer{
width: 960px;
height: 152px;
white-space-collapse: preserve-breaks;
justify-self: anchor-center;
width: fit-content;

}

main form{
display: grid;
width: 512px;
margin: auto;
justify-self: center;
padding-top: 70px;
padding-bottom: 150px;
gap: 20px;

}

main h2{

font-weight: 700;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.8px;
text-align: center;
color: #0D1C12;

}

main form input{

justify-content: space-between;
padding: 16px;
border-radius: 12px;
background-color: #E8F2ED;
border-width: 0;


font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;

}

main button{


padding: 7px 16px;
border-radius: 16px;
background-color: #E8F2ED;

font-weight: 700;

font-size: 14px;

line-height: 21px;
letter-spacing: 0.21px;

border-width: 0;
}

#boutonsignin{

    background-color: #1AE570;
}

main p{

    padding-bottom: 20px;
}