*{
    margin:0;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    font-family: "newspaper";
}
h1{

font-weight: 800;
font-style: ExtraBold;
font-size: 48px;
line-height: 60px;
letter-spacing: -1.58px;
color: #FFFFFF;

}

.titre2{

font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.8px;
color: #0D1C12;
 
}


.titre3{

font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 22.5px;
letter-spacing: -0.27px;
color: #0D1C12;

}

header{
    max-width: 960px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 30px;
}

#hr1d1{

    display: flex;
    gap: 15px;
}

#hr1t1 a{

    text-decoration: none;
}

#login{

font-family: Newsreader;
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.21px;
color: #0D1C12;
padding: 16px;
border-radius: 20px;
background-color: #E8F2ED;
border-width: 0px;
text-decoration: none;
padding: 11px;
width: 84px;
text-align: center;
width: 84px;
max-block-size: fit-content;
padding: 10px 2px;
}

header button{
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}



/* le text trim both jsp cque c mais c le seul truc qui me centre le texte ds le bouton */

#divsearch{

font-family: Newsreader;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
color: #4F966E;

border-radius: 20px;
background-color: #E8F2ED;
border-width: 0px;

width: 260px;
height: 40px;
align-content: space-evenly;
padding-left: 9px;

}
/* ↑ dsl pr le padding left mais j'arrive pas à décoller cette ptn de loupe!!!!!!! */


header input{

background-color: rgba(0, 0, 0, 0);
border-color: rgba(0, 0, 0, 0);
color: #4F966E;
}

#hr1t1{

    padding: 6px;

}


/* footer ↓↓↓ */

footer a{
text-decoration: none;

font-weight: 400;
font-size: 16px;

line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #4F966E;


}

#ft1d1{
display: flex;
justify-content: space-evenly;

}

footer p{

font-weight: 400;
font-size: 16px;

line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #4F966E;

}

footer{
width: 960px;
height: 152px;
white-space-collapse: preserve-breaks;
justify-self: anchor-center;

}


/* main↓↓↓ */


main form{
    display: grid;
    width: 512px;
margin: auto;
justify-self: center;
padding-top: 20px;
padding-bottom: 20px;

}

main h2{

font-weight: 700;
font-size: 22px;
line-height: 27.5px;
letter-spacing: -0.33px;
color: #0D1C12;

}

main form input{

justify-content: space-between;
padding: 16px;
border-radius: 12px;
background-color: #E8F2ED;
border-width: 0;


font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;

}



#post{

justify-content: space-between;
padding: 16px;
border-radius: 12px;
background-color: #E8F2ED;
border-width: 0;


font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
}

main form ::placeholder{

    color: #4F966E;

}